## Question1

In [1]:
def common_elements(nums1, nums2, nums3):
    i, j, k = 0, 0, 0
    result = []

    while i < len(nums1) and j < len(nums2) and k < len(nums3):
        if nums1[i] == nums2[j] == nums3[k]:
            result.append(nums1[i])
            i += 1
            j += 1
            k += 1
        else:
            min_val = min(nums1[i], nums2[j], nums3[k])
            if nums1[i] == min_val:
                i += 1
            if nums2[j] == min_val:
                j += 1
            if nums3[k] == min_val:
                k += 1

    return result
arr1 = [1,2,3,4,5] 
arr2 = [1,2,5,7,9]
arr3 = [1,3,4,5,8]
common_elements(arr1,arr2,arr3)

[1, 5]

## Question2

In [2]:
def distinct_nums(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)
    result1 = []
    result2 = []

    for num in nums1:
        if num not in set2:
            result1.append(num)

    for num in nums2:
        if num not in set1:
            result2.append(num)

    return [result1, result2]
nums1 = [1,2,3]
nums2 = [2,4,6]
distinct_nums(nums1,nums2)

[[1, 3], [4, 6]]

## Question3

In [18]:
def transpose(matrix):
    r = len(matrix)
    c = len(matrix[0])
    result = [[0] * r for i in range(c)]

    for i in range(r):
        for j in range(c):
            result[j][i] = matrix[i][j]

    return result

matrix = [[1,2,3],[4,5,6],[7,8,9]]
transpose(matrix)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## Question4

In [19]:
def max_sum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += nums[i]

    return max_sum
nums = [1,4,3,2]
max_sum(nums)

4

## Question5

In [20]:
def arrange_coins(n):
    left = 1
    right = n

    while left <= right:
        mid = (left + right) // 2
        total = (mid * (mid + 1)) // 2

        if total > n:
            right = mid - 1
        else:
            left = mid + 1

    return right
n=3
arrange_coins(n)

2

## Question6

In [22]:
def sorted_squares(nums):
    result = []
    for i in nums:
        result.append(i ** 2)
    result.sort()
    return result
nums = [-4,-1,0,3,10]
sorted_squares(nums)

[0, 1, 9, 16, 100]

## Question7

In [23]:
def max_count(m, n, ops):
    min_row = float('inf')
    min_col = float('inf')

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col
m = 3
n = 3
ops = [[2,2],[3,3]]
max_count(m,n,ops)

4

## Question8

In [24]:
def new_array(nums):
    n = len(nums) // 2
    ptr1 = 0
    ptr2 = n
    result = []

    for i in range(n):
        result.append(nums[ptr1])
        result.append(nums[ptr2])
        ptr1 += 1
        ptr2 += 1

    return result
nums = [2,5,1,3,4,7]
new_array(nums)

[2, 3, 5, 4, 1, 7]